# node modules
node_modules

# build output directory
dist

# environment files
.env
.env.local
.env.production

# temporary files
# like local kv db
temp/*
!temp/gitPleaseTrackThisDirectory.txt

# Example db data
docs/example_data.json

# One off scripts
util
